body {
    background-color: rgb(48,48,48);
    color: rgb(239,235,228);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: grid;
    grid-auto-flow: column;
}
section {
    background-color: rgb(239,235,228);
    color:black ;
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}
#botao {
    background-color: rgb(12,112,242);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    height: 25px;
}
.formulario {
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px;
    margin: 7px;
}